Repository hmcts/pdda-interfaces, pull requests merged in 2024-09, with the labels that each got.

#295 Feature/pdda 412a
  build.gradle
  charts/pdda-public-display-data-aggregator/Chart.yaml
  charts/pdda-public-display-data-aggregator/values.yaml
  src/main/java/uk/gov/hmcts/config/WebAppInitializer.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaConfigHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaDlNotifierHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/XhibitPddaHelper.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/initialization/servlet/InitServlet.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/initialization/servlet/InitializationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/config/WebAppInitializerTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaDlNotifierHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperBaisTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/web/publicdisplay/initialization/servlet/InitServletTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-295

#317 Updated jsch, with local amendments, to see if it will fix the proble…
  build.gradle
  lib/jsch-0.1.54.jar
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-317

#318 Printing out the full stacktrace for sftp errors
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaSftpHelper.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-318

#326 Feature/pdda 419
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListRepositoryTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-326
