Repository hmcts/pdda-interfaces, pull requests merged in 2024-08, with the labels that each got.

#278 Feature/pdda 403
  src/main/resources/database/test-data/XHB_CASE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_CONFIG_PROP_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_HEARING_LIST_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_REF_HEARING_TYPE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_REF_JUDGE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_SCHEDULED_HEARING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_SITTING_DATA_TABLE.sql
  src/main/resources/database/test-data/reset_test_data.sql
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-278

#283 Changes to help alleviate hikari connection pool issues; also added d…
  src/main/java/uk/gov/hmcts/pdda/business/entities/AbstractRepository.java
  src/main/resources/application.properties
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-283

#286 pdda-409 Stop renovatebot from upgrading to major versions.
  renovate.json
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-286

#282 Feature/pdda 402
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaBaisControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperBaisTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-282
