Repository hmcts/pdda-interfaces, pull requests merged in 2024-11, with the labels that each got.

#377 Setting all CPP court entries to Y
  src/main/resources/database/data/V1_3_1__XHB_COURT_DATA_TABLE.sql
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-377

#380 Changes for PDDA-436
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbpddamessage/XhbPddaMessageDao.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
  src/main/resources/application.properties
  src/main/resources/database/scripts/V1_2_1__pdda-update-tables.sql
  src/main/resources/database/scripts/V1_2__pdda-create-audit-tables.sql
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpServiceTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-380

#384 Fixed a defect with PDDA-436 where the generated name of the document…
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpServiceTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-384

#383 Adding additional logging to getSchemaName
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/AbstractCppStagingInboundControllerBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-383

#386 CHanges for pdda-437 and also to test CaTH using Post rather than Get…
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathConnectionServiceBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperBaisTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperConfigTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperMessagesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperRepositoryHelpersTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathConnectionServiceBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBeanTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-386

#389 Fix for defect 441
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathConnectionServiceBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-389

#388 Feature/pdda 421
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcathdocumentlink/XhbCathDocumentLinkDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcathdocumentlink/XhbCathDocumentLinkRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppstaginginbound/XhbCppStagingInboundDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppstaginginbound/XhbCppStagingInboundRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppformatting/CppFormattingHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/AbstractFormattingRepositories.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathDocumentTitleBuilder.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathDocumentTitleUtils.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/main/resources/database/scripts/V3_2__pdda-create-audit-tables.sql
  src/main/resources/database/scripts/V3_4__pdda-create-indexes.sql
  src/main/resources/database/scripts/V3_8__pdda-create-triggers.sql
  src/main/resources/database/scripts/V4_1__pdda-create-tables.sql
  src/main/resources/database/scripts/V4_2__pdda-create-audit-tables.sql
  src/main/resources/database/scripts/V4_4__pdda-create-indexes.sql
  src/main/resources/database/scripts/V4_5__pdda-create-fk-constraints.sql
  src/main/resources/database/scripts/V4_6__pdda-create-sequences.sql
  src/main/resources/database/scripts/V4_7__pdda-reset-sequences.sql
  src/main/resources/database/scripts/V4_8__pdda-create-triggers.sql
  src/main/resources/database/test-data/example_json_results/DailyList_999_200108141220_JSON.txt
  src/main/resources/database/test-data/example_list_xml_docs/DailyList_999_200108141220.xml
  src/main/resources/database/test-data/example_list_xml_docs/DailyList_999_200108141220_Schema_Edit.xml
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-388

#395 Feature/pdda 438
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathDocumentTitleUtils.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/main/resources/database/test-data/example_list_xml_docs/DailyList_999_200108141220_Transformed.xml
  src/main/resources/xslt_schemas/DailyList_Schema.xslt
  src/main/resources/xslt_schemas/Example.xslt
  src/main/resources/xslt_schemas/FirmList_Schema.xslt
  src/main/resources/xslt_schemas/WarnedList_Schema.xslt
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-395

#400 Changing XSD schemaLocation paths to relative path
  src/main/resources/config/xsd/DailyList-v1-0.xsd
  src/main/resources/config/xsd/FirmList-v1-0.xsd
  src/main/resources/config/xsd/WarnedList-v1-0.xsd
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-400
