Repository hmcts/pdda-interfaces, pull requests merged in 2024-10, with the labels that each got.

#329 Feature/pdda 414
  build.gradle
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-329

#331 Feature/pdda 417
  src/main/resources/database/test-data/example_list_xml_docs/ExampleDailyList_V3.xml
  src/main/resources/database/test-data/example_list_xml_docs/ExampleWarnedList_V1.xml
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-331

#347 Feature/pdda 417
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/main/resources/database/test-data/example_json_results/DailyList_999_200108141220_JSON.txt
  src/main/resources/database/test-data/example_list_xml_docs/DailyList_999_200108141220_Schema_Edit.xml
  src/main/resources/database/test-data/example_list_xml_docs/ExampleDailyList_V4.xml
  src/main/resources/database/test-data/example_list_xml_docs/ExampleWarnedList_V1.xml
  src/main/resources/database/test-data/example_list_xml_docs/ExampleWarnedList_V2.xml
  src/main/resources/xslt_schemas/DailyList_Schema_V1.xslt
  src/main/resources/xslt_schemas/WarnedList_Schema_V1.xslt
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-347

#357 Feature/pdda 416
  src/main/resources/database/test-data/example_list_xml_docs/ExampleDailyList.xml
  src/main/resources/database/test-data/example_list_xml_docs/ExampleFirmList.xml
  src/main/resources/database/test-data/example_list_xml_docs/ExampleWarnedList.xml
  src/main/resources/xslt_schemas/DailyList_Schema.xslt
  src/main/resources/xslt_schemas/FirmList_Schema.xslt
  src/main/resources/xslt_schemas/WarnedList_Schema.xslt
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-357

#363 PDDA-423 Switching input xml from a file to clob data read in from th…
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/TransformerUtils.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-363

#367 Fix db scripts for staging
  build.gradle
  src/main/resources/application.properties
  src/main/resources/database/data/V1_3_34__XHB_CONFIG_PROP_DATA_TABLE_UPDATE.sql
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-367

#376 Changes for PDDA-429
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/BaisValidation.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperBaisTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaHelperValidationTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpServiceTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-376
