Repository hmcts/pdda-interfaces, pull requests merged in 2024-06, with the labels that each got.

#185 Feature/pdda 366
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbxmldocument/XhbXmlDocumentDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbxmldocument/XhbXmlDocumentRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesProcessing.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/TransformerUtils.java
  src/main/resources/config/xml/documentdistribution/translation.xsl
  src/main/resources/config/xml/internet/translation.xml
  src/main/resources/database/test-data/XHB_CLOB_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_FORMATTING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_XML_DOCUMENT_DATA_TABLE.sql
  src/main/resources/database/test-data/reset_test_data.sql
  src/test/java/uk/gov/hmcts/pdda/business/entities/xhbxmldocument/XhbXmlDocumentRepositoryTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesFormattingExceptionsTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesNextDocumentTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-185

#200 Feature/pdda bais testing
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefpddamessagetype/XhbRefPddaMessageTypeDao.java
  src/main/resources/database/docs/Instructions.txt
  src/main/resources/database/test-data/XHB_CONFIG_PROP_DATA_TABLE.sql
  src/main/resources/database/test-data/bais_events_test_data/DailyList_457_20240614152950.xml
  src/main/resources/database/test-data/bais_events_test_data/FirmList_457_20240614152950.xml
  src/main/resources/database/test-data/bais_events_test_data/PublicDisplay_457_20240614083009.xml
  src/main/resources/database/test-data/bais_events_test_data/WarnedList_457_20240614152950.xml
  src/main/resources/database/test-data/bais_events_test_data/WebPage_457_20240614084011.xml
  src/main/resources/database/test-data/load_test_data.sql
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-200

#195 migrated to scheduled job
  src/main/java/uk/gov/hmcts/framework/scheduler/RemoteTask.java
  src/main/java/uk/gov/hmcts/pdda/business/AbstractControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/AbstractRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePdda.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBeanHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/pojo/GeneralProperties.java
  src/main/resources/database/data/V1_3_33__XHB_CONFIG_PROP_DATA_TABLE.sql
  src/main/resources/database/test-data/load_test_data.sql
  src/main/resources/database/test-data/update_xhb_config_prop.sql
  src/main/webapp/WEB-INF/scheduler.properties
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaReposTest.java
  xhibitSource/LighthouseCPP.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-195

#207 Fix the processing of Firm and Warn lists on pdda1 so the process doe…
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/AbstractCppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-207

#172 Feature/pdda 368
  build.gradle
  src/main/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServiceUtils.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/main/resources/database/docs/Instructions.txt
  src/main/resources/database/scripts/V3_1__pdda-create-tables.sql
  src/main/resources/database/scripts/V3_7__pdda-reset-sequences.sql
  src/main/resources/database/scripts/pdda_db_install.sql
  src/main/resources/database/scripts/pdm_db_install.sql
  src/main/resources/database/test-data/XHB_BLOB_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_CASE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_CLOB_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_COURTEL_LIST_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_COURT_LOG_ENTRY_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_CPP_FORMATTING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_CPP_LIST_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_CPP_STAGING_INBOUND_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_DEFENDANT_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_DEFENDANT_ON_CASE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_FORMATTING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_HEARING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_HEARING_LIST_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_REF_HEARING_TYPE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_REF_JUDGE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_SCHEDULED_HEARING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_SCHED_HEARING_ATTENDEE_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_SCHED_HEARING_DEFENDANT_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_SITTING_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_XML_DOCUMENT_DATA_TABLE.sql
  src/main/resources/database/test-data/reset_test_data.sql
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-172

#218 Feature/external schema fix
  src/main/java/uk/gov/hmcts/pdda/business/services/validation/sax/SaxValidationService.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-218

#213 Feature/pdda 367
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServiceUtils.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServices.java
  src/main/resources/database/test-data/XHB_CPP_LIST_DATA_TABLE.sql
  src/main/resources/database/test-data/XHB_FORMATTING_DATA_TABLE.sql
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesTest.java
  xhibitSource/CPPInitialProcessingControllerBean.java
  xhibitSource/CppFormattingControllerBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-213

#223 Revert the springboot renovatebot update to 3.3 back to 3.1. The upd…
  build.gradle
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-223

#222 removed lazy error
  build.gradle
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbblob/XhbBlobDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcase/AbstractXhbCaseDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcase/XhbCaseDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbclob/XhbClobDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbconfigprop/XhbConfigPropDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbconfiguredpublicnotice/XhbConfiguredPublicNoticeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourt/XhbCourtDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtlogentry/XhbCourtLogEntryDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtlogeventdesc/XhbCourtLogEventDescDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtroom/XhbCourtRoomDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppformatting/XhbCppFormattingDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppformattingmerge/XhbCppFormattingMergeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcpplist/XhbCppListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppstaginginbound/XhbCppStagingInboundDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcrlivedisplay/XhbCrLiveDisplayDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcrliveinternet/XhbCrLiveInternetDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendant/XhbDefendantDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendantoncase/XhbDefendantOnCaseDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdisplay/XhbDisplayDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdisplaycourtroom/XhbDisplayCourtRoomDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdisplaydocument/XhbDisplayDocumentDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdisplaystore/XhbDisplayStoreDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbformatting/XhbFormattingDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearing/XhbHearingDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearinglist/XhbHearingListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbpddadlnotifier/XhbPddaDlNotifierDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbpddamessage/XhbPddaMessageDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefhearingtype/XhbRefHearingTypeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefjudge/XhbRefJudgeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefpddamessagetype/XhbRefPddaMessageTypeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrotationsetdd/XhbRotationSetDdDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrotationsets/XhbRotationSetsDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbschedhearingattendee/XhbSchedHearingAttendeeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbscheduledhearing/XhbScheduledHearingDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbsitting/XhbSittingDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbxmldocument/XhbXmlDocumentDao.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-222

#232 Feature/pdda 364
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelper.java
  src/test/java/uk/gov/hmcts/DummyCourtelUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-232
