Repository hmcts/pdda-interfaces, pull requests merged in 2024-07, with the labels that each got.

#235 Feature/pdda 385
  build.gradle
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/CourtelJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/ListJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/WebPageJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListJson.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/BlobHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/test/java/uk/gov/hmcts/DummyCourtelUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/BlobHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-235

#243 pdda-348 Add the id 'war' to build.gradle so it knows to build a war …
  build.gradle
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-243

#252 Revert the dependancy check to get the build working.
  build.gradle
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-252

#241 Feature/pdda 389
  Jenkinsfile
  build.gradle
  charts/pdda-public-display-data-aggregator/Chart.yaml
  charts/pdda-public-display-data-aggregator/values.yaml
  src/main/java/uk/gov/hmcts/config/WebAppInitializer.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2Helper.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/initialization/servlet/InitServlet.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/initialization/servlet/InitializationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/DummyCourtelUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2HelperTest.java
  src/test/java/uk/gov/hmcts/pdda/web/publicdisplay/initialization/servlet/InitServletTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-241

#254 Fix the exception errors in the getCppData in the log.
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/data/impl/GenericPublicDisplayDataSource.java
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/datasource/cpptoxhibit/AbstractCppToPublicDisplay.java
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/datasource/cpptoxhibit/AbstractCppToPublicDisplayRepos.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-254

#253 Feature/pdda 390
  README.md
  charts/pdda-public-display-data-aggregator/values.dev.template.yaml
  charts/pdda-public-display-data-aggregator/values.stg.template.yaml
  charts/pdda-public-display-data-aggregator/values.yaml
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/ArtefactType.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/CourtelJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/Language.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/ListJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/ListType.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/PublicationConfiguration.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/WebPageJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/XhbCourtelListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/DummyCourtelUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CathHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-253

#260 removed hikari settings
  src/main/resources/application.yaml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-260

#270 removed synchronise keyword
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdConfigurationControllerBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-270
