Repository hmcts/pdda-interfaces, pull requests merged in 2024-12, with the labels that each got.

#406 Pdda447 test finders
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcase/XhbCaseRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtroom/XhbCourtRoomRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcrlivedisplay/XhbCrLiveDisplayRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendant/XhbDefendantDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendant/XhbDefendantRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendantoncase/XhbDefendantOnCaseRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearing/XhbHearingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearinglist/XhbHearingListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearinglist/XhbHearingListRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbschedhearingdefendant/XhbSchedHearingDefendantRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbscheduledhearing/XhbScheduledHearingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbsitting/XhbSittingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/FinderHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteRepositoryTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-406

#414 Changes for PDDA-451, 452 and 457
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
  src/main/webapp/WEB-INF/scheduler.properties
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpServiceTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-414

#420 Additional logging + scripts for generating test docs
  scripts/test/generateTestBaisDocs/CPDailyListExample.xml
  scripts/test/generateTestBaisDocs/CPFirmListExample.xml
  scripts/test/generateTestBaisDocs/CPPublicDisplayExample.xml
  scripts/test/generateTestBaisDocs/CPWarnedListExample.xml
  scripts/test/generateTestBaisDocs/CPWebPageExample.xml
  scripts/test/generateTestBaisDocs/GenerateTestFilenamesFromCP.sh
  scripts/test/generateTestBaisDocs/GenerateTestFilenamesFromXHIBIT.sh
  scripts/test/generateTestBaisDocs/XHIBITDailyListExample.xml
  scripts/test/generateTestBaisDocs/XHIBITPublicDisplayExample.xml
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbxmldocument/XhbXmlDocumentRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/dailylistnotifier/DailyListNotifierControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/ClearDownControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/lighthouse/LighthousePddaControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-420

#413 Pdda447 process list
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcrlivedisplay/XhbCrLiveDisplayDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcrlivedisplay/XhbCrLiveDisplayRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearinglist/XhbHearingListDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefhearingtype/XhbRefHearingTypeDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefhearingtype/XhbRefHearingTypeRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/FinderHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListNodesHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/RepositoryHelper.java
  src/test/java/uk/gov/hmcts/DummyHearingUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteRepositoryTest.java
  src/test/java/uk/gov/hmcts/pdda/business/entities/xhbcrlivedisplay/XhbCrLiveDisplayRepositoryTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/FinderHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListNodesHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/RepositoryHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-413

#421 Add the call to listNodesHelper into the process and fix the unit tests.
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcase/XhbCaseRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtroom/XhbCourtRoomRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcrlivedisplay/XhbCrLiveDisplayRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendant/XhbDefendantRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendantoncase/XhbDefendantOnCaseRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearing/XhbHearingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbhearinglist/XhbHearingListRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbrefhearingtype/XhbRefHearingTypeRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbschedhearingdefendant/XhbSchedHearingDefendantRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbscheduledhearing/XhbScheduledHearingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbsitting/XhbSittingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/FinderHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListNodesHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/RepositoryHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListNodesHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-421

#422 Pdda447 cover invalid data
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtsite/XhbCourtSiteRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/FinderHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-422

#423 Additional logging to trace why handleStuckDocuments is taking so long
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/AbstractCppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundHelper.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-423

#424 Commit data after update
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendant/XhbDefendantDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbdefendant/XhbDefendantRepository.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-424

#426 Additional logging to trace why handleStuckDocuments is taking so long
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppformatting/XhbCppFormattingRepository.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-426

#427 Additional logging and possible fix for performance issue in retrievi…
  src/main/java/uk/gov/hmcts/pdda/business/entities/AbstractRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppformatting/XhbCppFormattingDao.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcppformatting/XhbCppFormattingRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-427
