Repository hmcts/pdda-interfaces, pull requests merged in 2024-05, with the labels that each got.

#142 PDDA-358 Adding new entries into XHB_CONFIG_PROP table
  src/main/resources/database/data/V2_3_33__XHB_CONFIG_PROP_DATA_TABLE.sql
  src/main/resources/database/data/load_ref_data.sql
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-142

#143 Feature/pdda smoke tests
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/controller/SetupControllerSmokeTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-143

#151 Feature/pdda 361
  src/main/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBeanTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-151

#160 Fix the smoke test
  src/smokeTest/java/uk/gov/hmcts/controller/SetupControllerSmokeTest.java
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-160

#164 Set the TEST_URL correctly.
  Jenkinsfile
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-164

#162 Feature/pdda 362
  src/main/java/uk/gov/hmcts/pdda/business/AbstractControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/AbstractCppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/dailylistnotifier/DailyListNotifierControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/AbstractFormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesProcessing.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/BlobHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/AbstractPdConfigReposControllerBean.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanIsValidTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanUpdateTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanValidateTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/AbstractFormattingServicesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesFormattingExceptionsTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesNextDocumentTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesPddaSwitcherTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesProcessingTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-162

#170 Debug transformer
  src/main/java/uk/gov/hmcts/pdda/business/AbstractControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/AbstractCppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/dailylistnotifier/DailyListNotifierControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/AbstractFormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServices.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesProcessing.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/BlobHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/AbstractPdConfigReposControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/vos/formatting/FormattingValue.java
  src/main/resources/config/cjse/DocumentStylesheets/dailyListHtml.xsl
  src/main/resources/config/cjse/DocumentStylesheets/dailyPrisonListHtml.xsl
  src/main/resources/config/cjse/DocumentStylesheets/firmListHtml.xsl
  src/main/resources/config/cjse/DocumentStylesheets/warnedListHtml.xsl
  src/main/resources/config/xml/xslt_config.xml
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanIsValidTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanUpdateTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanValidateTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/AbstractFormattingServicesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesFormattingExceptionsTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesNextDocumentTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesPddaSwitcherTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesProcessingTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingServicesTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/BlobHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-170
