Repository hmcts/pdda-interfaces, pull requests merged in 2025-01, with the labels that each got.

#431 PDDA-468 Fix for optimistic lock error when updating the processing s…
  src/main/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/AbstractCppStagingInboundControllerBean.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanTest.java
Labels: ns:pdda, prd:pdda

#432 Adding missing end date field for adding new XHB_HEARING records when…
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/CreationHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/DataHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/data/ListObjectHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-432

#433 PDDA-470 Surrounding sftp delete with a check to make sure the file h…
  build.gradle
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/PddaSftpHelperSshj.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpService.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/PddaSftpHelperSshjTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-433

#434 PDDA-470 Adding more logging
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/PddaSftpHelperSshj.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-434
