Repository hmcts/pdda-interfaces, pull requests merged in 2025-05, with the labels that each got.

#473 Fixed triggers
  src/main/resources/database/scripts/V1_8_4__pdda-update-triggers.sql
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-473

#477 Feature/pdda 491
  src/main/webapp/css/general.css
  src/main/webapp/header/images/banner-acs.gif
  src/main/webapp/header/images/banner-cdtl.gif
  src/main/webapp/header/images/banner-dl.gif
  src/main/webapp/header/images/banner-dl2.gif
  src/main/webapp/header/images/banner-sbn.gif
  src/main/webapp/header/images/banner.gif
  src/main/webapp/header/images/court_detail.jpg
  src/main/webapp/js/display_document.js
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-477

#483 Changes to get the headers to display the text; added the data genera…
  .gitignore
  dataGenerationTemplates/CP/PublicDisplay_457_20250507091000.xml
  dataGenerationTemplates/CP/PublicDisplay_457_20250507091000_prettyprint.xml
  dataGenerationTemplates/CP/WebPage_457_20250415083000.xml
  dataGenerationTemplates/Merged/DailyList_457_20250507151000.xml
  src/main/java/uk/gov/hmcts/config/ServletConfig.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/imaging/AbstractImageServlet.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/imaging/HeaderImageServlet.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/rendering/compiled/AppendFieldsUtils.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/rendering/compiled/RotationSetCompiledRendererDelegate.java
  src/main/webapp/WEB-INF/images/banner-acs.gif
  src/main/webapp/WEB-INF/images/banner-cdtl.gif
  src/main/webapp/WEB-INF/images/banner-dl.gif
  src/main/webapp/WEB-INF/images/banner-dl2.gif
  src/main/webapp/WEB-INF/images/banner-sbn.gif
  src/main/webapp/WEB-INF/images/banner.gif
  src/main/webapp/WEB-INF/images/court_detail.jpg
  src/test/java/uk/gov/hmcts/config/ServletConfigTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-483

#485 Fix for null event time
  src/main/java/uk/gov/hmcts/pdda/business/services/publicdisplay/datasource/cpptoxhibit/AllCaseStatusCppToPublicDisplay.java
  src/main/java/uk/gov/hmcts/pdda/common/publicdisplay/renderdata/PublicDisplayValue.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-485

#481 Add cath servlet
  Jenkinsfile
  charts/pdda-public-display-data-aggregator/Chart.yaml
  charts/pdda-public-display-data-aggregator/values.yaml
  src/main/java/uk/gov/hmcts/controller/SetupController.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2Helper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathOAuth2Helper.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServlet.java
  src/main/resources/application.yaml
  src/main/webapp/WEB-INF/web.xml
  src/test/java/uk/gov/hmcts/DummyCourtelUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2HelperTest.java
  src/test/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServletTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-481

#487 Expose the CathServlet servlet.
  src/main/java/uk/gov/hmcts/config/ServletConfig.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServlet.java
  src/main/webapp/WEB-INF/web.xml
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-487

#489 Fix cath error
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathOAuth2Helper.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServlet.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-489

#490 Get the autowired working in the servlet.
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServlet.java
  src/test/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServletTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-490

#495 Changes to possibly fix the this.env issue
  src/main/java/uk/gov/hmcts/config/ServletConfig.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2Helper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathOAuth2Helper.java
  src/main/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServlet.java
  src/test/java/uk/gov/hmcts/config/ServletConfigTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2HelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathOAuth2HelperTest.java
  src/test/java/uk/gov/hmcts/pdda/web/publicdisplay/setup/servlet/CathServletTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-495

#499 Add improved debug and error handling for the CaTH process.
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/OAuth2Helper.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-499
