Repository hmcts/pdda-interfaces, pull requests merged in 2025-02, with the labels that each got.

#428 Pdda462
  src/main/java/com/pdda/hb/jpa/RepositoryUtil.java
  src/main/java/uk/gov/hmcts/pdda/business/AbstractControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/AbstractRepository.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/CourtelJson.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/ListType.java
  src/main/java/uk/gov/hmcts/pdda/business/entities/xhbcourtellist/PublicationConfiguration.java
  src/main/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingControllerBean.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtils.java
  src/test/java/uk/gov/hmcts/DummyCourtelUtil.java
  src/test/java/uk/gov/hmcts/config/RepositoryUtilTest.java
  src/test/java/uk/gov/hmcts/pdda/business/AbstractControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBeanHelpersTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/courtellist/CourtelListControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBeanHelpersTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/AbstractCppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cpp/CppInitialProcessingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppformatting/CppFormattingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanIsValidTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/cppstaginginboundejb3/CppStagingInboundControllerBeanValidateTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingControllerBeanHelpersTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/formatting/FormattingControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperReposTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/CourtelHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/cath/CathUtilsTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdConfigurationControllerBeanDisplayTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdConfigurationControllerBeanGetTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdConfigurationControllerBeanRotationTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdConfigurationControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdDataControllerBeanTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/publicdisplay/PdSetupControllerBeanTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-428

#450 PDDA-475 Switching the create process of a new PddaMessage object fro…
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaMessageHelper.java
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaMessageUtil.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaMessageHelperTest.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/sftp/SftpServiceTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-450

#451 PDDA-475 Removing the InstanceLock from an old commit as it had no af…
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaBaisControllerBean.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-451

#452 PDDA-475 Switching updatePddaMessage() over from update to save
  src/main/java/uk/gov/hmcts/pdda/business/services/pdda/PddaMessageHelper.java
  src/test/java/uk/gov/hmcts/pdda/business/services/pdda/PddaMessageHelperTest.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-452

#455 PDDA-475 Making save and update transactional
  src/main/java/uk/gov/hmcts/pdda/business/entities/AbstractRepository.java
Labels: ns:pdda, prd:pdda, rel:pdda-public-display-data-aggregator-pr-455
